#calculator_container{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}
.display{
    width: 103%;
    height: 70px;
    background-color: rgb(68, 64, 64);
    border: none;   
    font-size: 50px;
    color: white;

}
.keys{
    width: 100%;
    padding: 10px;
 
display:grid ;
grid-template-columns: repeat(4,100px);
grid-template-rows: repeat(5, 100px);
gap: 10px;
justify-content: center;
background-color: rgb(48, 45, 45);

}

.btn{
    border-radius: 50%;
    font-size: 50px;
    border: none;
    background-color: grey;
    color: rgb(255, 255, 255);
}
.btn:hover{
    background-color: rgba(57, 182, 41, 0.548);
}

.oprate{
    background-color: orange;
}

.oprate:hover{
    background-color: orangered;
}